[Unit]
Description=Secure Spring Backend
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/opt/secureapp
Environment=PORT=5000
Environment=SERVER_ADDRESS=127.0.0.1
Environment=SERVER_SSL_ENABLED=true
Environment=SERVER_SSL_KEY_STORE=file:/opt/secureapp/certs/secureapp-local.p12
Environment=SERVER_SSL_KEY_STORE_TYPE=PKCS12
Environment=SERVER_SSL_KEY_STORE_PASSWORD=change-this-password
Environment=SERVER_SSL_KEY_ALIAS=secureapp-local
Environment=SPRING_DATASOURCE_URL=jdbc:h2:file:/opt/secureapp/data/secureappdb;AUTO_SERVER=TRUE
Environment=APP_ALLOWED_ORIGINS=https://arepecilab.duckdns.org
ExecStart=/usr/bin/java -jar /opt/secureapp/secureapp-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
